
body {
    font-family: Arial, sans-serif;
    background-color: #e1e1f1;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #e5e5f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.errors {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.errors h3 {
    margin-top: 0;
    font-size: 18px;
}

.errors-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.errors-list li {
    margin-bottom: 5px;
}

.checkbox{

    padding: 10px 15px;
    background-color: #e9ebed;
    border: none;
    border-radius: 4px;
    cursor: pointer;


}

button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
